# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/
dist/

# Nitro output
.server/
.storage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Cache
.cache/
.eslintcache

# Typescript
*.tsbuildinfo

# Temp
tmp/
temp/
*.tmp
